{
  "parser": "babel-eslint",
  "env": {
      "browser": true,
      "node": true
  },
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-use-before-define": ["error", { "functions": false, "classes": true }]
  },
  "overrides": [
    {
      "files": ["*.test.{js,jsx}"],
      "rules": {
        "no-unused-expressions": "off",
        "no-undef": "off"
      }
    }
  ]
}
